@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.email-modal {
  background: white;
  padding: 1.25rem;
  border-radius: 0.25rem;
  max-width: 37.5rem;
  margin: 0 auto;

  &__overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    &-send-email {
      background: $primaryBlue;
      color: white;
    }
  }
  &__cancel {
    line-height: 1.25rem;
    height: 2.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.25rem;
    border: transparent;
    background-color: $white;
    color: $slate;
    border: 1px solid $slate;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.5rem 3.1875rem;
    width: 10rem;
    &:hover {
      background-color: $white;
      color: $primaryBlue;
      border-color: $primaryBlue;
    }

    @include tablet {
      width: 5rem;
      height: 2.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
