// Primary Colors
$white: white;
$primaryDark: #13182c;
$primaryBlue: #007bff;
$backgroundLight: #f8f9fa;
$slate: #708090;

// Secondary Colors
$secondraryDark: #5c667e;
$secondaryLight: #bdc5d5;
$activeBlue: #0056b3;
$button-black: #1a1a1a;

// Background Colors
$backgroundDark: #232940;
$backgroundLight: #f7f8f9;

// Supporting Colors
$green: #158463;
$red: #c94515;

// Breakpoints
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

// Additional Colors
$light-grey: #d3d3d3;
$dark-grey: #333333;
